/**
 * min 1921px
 */
 @media only screen and (min-width : 1921px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/4096.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/**
 * min 1920px
 */
@media only screen and (min-width: 1920px) {
    
}

/**
 * max 1920px
 */
@media only screen and (max-width : 1920px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/1920.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/**
 * min 1440px
 */
@media only screen and (min-width: 1440px) {
   
}

/**
 * max 1440px
 */
@media only screen and (max-width : 1440px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/1440.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/**
 * max 1366px
 */
@media only screen and (max-width: 1366px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/1366.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/**
 * min 1200px
 */
@media only screen and (min-width : 1200px) {

}

/**
 * max 1200px
 */
@media only screen and (max-width : 1200px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/1200.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1025px) {
    
}

/**
 * max 1024px
 */
@media only screen and (max-width : 1024px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/1024.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/**
 * min 992px
 */
@media only screen and (min-width: 992px){

}

/**
 * max 992px
 */
@media only screen and (max-width: 992px) {

}

/**
 * tables de 992px a 1200px
 */
@media (min-width: 992px) and (max-width: 1200px) {

}

/**
 * tables de 992px a 1199px
 */
@media (min-width: 992px) and (max-width: 1199px) {

}

/**
 *  991px
 */
@media (max-width: 991px) {
    
}

@media (min-width: 768px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    
}

/**
 * Tabletas min 768px
 */
@media only screen and (min-width: 768px) {
    
}

/**
 * max 768px Tabletas
 */
@media only screen and (max-width: 768px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/768.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
    .hidden-tableta {
        display: none!important;
    }
    .visible-tableta {
        display: block!important;
    }
}

/**
 * 767px
 */
@media (max-width: 767px) {
    
}

/**
 * 585px
 */
@media (min-width: 585px) {

}

@media (min-width: 576px) {
    
}

/**
 * <= 576px movil
 */
@media (max-width: 576px) {
    .movil-none {
        display: none!important;
    }
    .no-bg-movil {
        background: none!important;
    }
    .flex-column-movil {
        flex-direction: column!important;
    }
    ul.social-icon li {
        display: inline-block!important;
        margin-right: 20px; 
    }
    .no-mr-movil{
        margin: 0!important;
    }
    .aling-center-movil {
        align-items: center!important;
    }
    #footer-bottom{
        bottom: 0px;
    }
    .text-center-m{
        text-align: center!important;
    }
}

/**
 * max 480px movil pequeño
 */
@media only screen and (max-width: 480px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/414.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }  
}

/**
 * min 414px - max 736px Movil
 * iPhone 6, 7, & 8 Plus in portrait & landscape
 */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    .index-page .page-header {
        height: 100vh;
        overflow: hidden;
        background: url('../images/background/414.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .index-page .page-header {
        height: 100vh; 
        overflow: hidden;
        background: url('../images/background/375.png') no-repeat center center;
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
    }
}